.control-panel {
    display:none;
    &.open {
        display:block;
        position:fixed;
        top:0;
        left:0;
        width:30%;
        height:100vh;
        background:#fffa;
        color:black;
    }
}