<div class="affiliate-amazon linked-content summary">
    <div class="thumbnail">
        <a href="{{ index .Params 1 }}" target="_blank">
            <picture class="thumbnail-image">
                <img src="{{ index .Params 2 }}"  alt="{{ index .Params 0 }}"/>
            </picture>
        </a>
    </div>
    <div class="description">
        <h4 class="link-title"><a href="{{ index .Params 1 }}" target="_blank">{{ index .Params 0 }}</a></h4>
        <p>{{ .Inner | emojify | markdownify }}</p>
    </div>

</div>