{{ define "main"}}

                <h1 class="title is-1 is-bold is-spaced">
                    404 - Not found
                </h1>
                <p class="subtitle is-5 is-muted">
                    Oh - this is not ideal <br/>Looks like this page is missing in action. Sorry.<br/>Try visiting the homepage and start again {{ ":thinking_face:" | emojify }}
                </p>
                <p>
                    <a class="button cta rounded primary-btn raised" href="/">
                        Head home
                    </a>
                </p>



{{ end }}
