{{ define "main" }}

    {{ if .Title }}
        {{ partial "single/index-content.html" . }}

    {{ end }}

    {{ if .Page.IsHome }}

        {{ $homepages := where .Site.RegularPages "Section" "ne" "notes" }}
        {{ range first 1 $homepages }}
            <h2>{{ .LinkTitle }}</h2>
            {{ .Summary }}<a href="{{ .RelPermalink }}">&hellip;Read more</a>
        {{ end }}

    {{ end }}
    {{ if .Page.IsSection }}

        {{ if .Params.noPreview}}
           
        {{ else }}
            {{ range first 1 .Pages }}
                <h2>{{ .LinkTitle }}</h2>
                {{ .Summary }}
                <a href="{{ .RelPermalink }}">&hellip;Read more</a>
            {{ end }}
        {{ end }}


    {{ end }}
    {{ partial "cover-attribution.html" . }}
{{ end }}

{{ define "aside" }}    
        <ul role="list" class="related">
            {{ range .Pages }}
            
            {{ if (compare.Eq .Params.style "tweet")}}
                {{ partial "list/tweet-item.html" .}}
            {{ else }}            
                {{ partial "list/list-item.html" .}}
            {{ end }}
            {{ end }}
        </ul>

{{ end }}

{{ define "title" }}
    {{ .Params.title }} - {{ .Site.Title}}
{{ end }}

