{{ define "main" }}
    {{ $term := .Title }}
    {{ if .Title }}
        {{ partial "term-index-content.html" . }}

    {{ end }}

                {{ if eq .Params.itemPreview "none" }}

            {{/*  Don't do anything here  */}}
        {{ else }}
             <ul role="list" class="terms">

                {{ range first 4 .Pages }}
                <li>

                    {{ if or (eq .Section "notes") (eq .Section "twitter") }}
                        {{ .Store.Set "DisplayDate" false }}
                        {{ partial "content-meta.html" . }}
                        {{ .Content }}

                    {{ else }}
                        {{ .Store.Set "DisplayDate" true }}
                        {{ partial "content-meta.html" . }}
                        <h2>{{ .LinkTitle }}</h2>


                        {{ .Summary }}
                        <a href="{{ .RelPermalink }}#:~:text=%23{{ $term }}">Read "{{ .LinkTitle }}"</a>

                    {{ end }}
                    
                    
                </li>   
                {{ end }}
            </ul>
        {{ end }}


    {{ partial "cover-attribution.html" . }}
{{ end }}

{{ define "aside" }}  
        <ul role="list" class="related spines">
            {{ range .Pages }}
                {{ partial "list/term-item.html" .}}
            {{ end }}
        </ul>

{{ end }}

{{ define "title" }}
    {{ .Title }} - {{ .Site.Title}}
{{ end }}