<footer>
  <div class="link-lists">

      <ul role="list">
          <li>Links!</li>
          <li><a>ABC</a></li>
          <li><a>Ay Bee Cee Dee Long Link</a></li>
          <li><a>Useful link</a></li>
      </ul>
      <ul role="list">
          <li>More links</li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
      </ul>
      <ul role="list">
          <li>So many links!</li>
          <li><a>Useful link</a></li>
      </ul>
      <ul role="list">
          <li>Extra links</li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
          <li><a>Useful link</a></li>
      </ul>
  </div>
</footer>