{{ define "title" }}
    {{ .Params.title }} - {{ .Site.Title}}
{{ end }}

{{ define "main" }}
    {{ partial "single/post-content.html" . }}

    <summary>
        <details>

                <pre>
                    <code>
{{ .Params.source }}
                    </code>
                </pre>
                

        </details>
    </summary>
{{ end }}

{{ define "aside"}}

    {{ with .Site.RegularPages.Related . | first 5 }}
        <ul role="list" class="related">
        {{ range . }}

        {{ if (compare.Eq .Params.style "tweet")}}
                {{ partial "list/tweet-item.html" .}}
            {{ else }}            
                {{ partial "list/list-item.html" .}}
            {{ end }}
        {{ end }}
        </ul>


    
    {{ end }}
{{ end }}