<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
      <header>
        <div class="heading"><h1>{{ .Site.Title }}</h1></div>

        <div class="subheading">
          <p>Some kind of subheading</p>
        </div>
        
      </header>
      

      
    <div id="content">
      <main>

        {{ block "main" . }}
        {{ end }}
      </main>
      <aside>

        {{ block "aside" . }}

        {{ end }}
      </aside>
      </div>


        {{ partial "footer.html" . }}

        </div>

  </body>
</html>
