{{ define "main" }}
    {{ if .Title }}
        {{ partial "single/content.html" . }}

    {{ end }}
{{ end }}

{{ define "aside" }}    
        <ul role="list" class="related">
            {{ range .Pages }}
            
            {{ if (compare.Eq .Params.style "tweet")}}
                {{ partial "list/tweet-item.html" .}}
            {{ else }}            
                {{ partial "list/list-item.html" .}}
            {{ end }}
            {{ end }}
        </ul>

{{ end }}

{{ define "title" }}
    {{ .Params.title }} - {{ .Site.Title}}
{{ end }}

