// from https://color.adobe.com/Studio-Zero-2017-color-theme-10115272/

$storm  : #3f8FCC;
$lilac  : #A8C2FF;
$yellow : #FFE169;
$taupe  : #99997C;
$mould  : #CACC3F;
$coral  : #FF5252;
//$chalk  : #faf7f0;
$chalk  : #fff;

$soot   : #222;
$ash    : #666;
$dust   : #ccc;