body {
  font-family: $bodyFontFamily;
  font-size : 1.7rem;
  line-height: 1.5em;
  color : $body_text;

  @include respond-to(xs) {
    letter-spacing: 0.05rem;
  }
  @include respond-to(sm) {
    letter-spacing: 0.05rem;
  }
  @include respond-to(md) {
    letter-spacing: 0.05rem;
  }
  @include respond-to(lg) {
    letter-spacing: 0;
  }
}

a {
  color : $link;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family : $headingFontFamily;
  font-weight: bold;
  color: $headline;
  padding-bottom: 0.4em;
  margin : 0;
  line-height: 1em;

  a {
    text-decoration: none;
    &:hover {
      color : $link_other;
    }
  }
}

h1, .h1 {
  font-family: $superHeadingFontFamily;
  font-size : 4.4rem;
  padding-top : 3rem;
  a {
    color: $headline;
  }

  @include respond-to(xs) {
    font-size : 3rem;
  }

}
h2, .h2 {
  font-size : 2.8rem;
  line-height: 1.2;
}

h3, .h3 {
  font-size : 1.8rem;
  line-height : 1.3;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size : 1.8rem;
  line-height : 1.3;
}

p {
  margin-top:0;
}