html {
  font-size : 14px;
  @include respond-to(sm) {
    font-size : 13px;
  }
  @include respond-to(md) {
    font-size : 12px;
  }
  @include respond-to(lg) {
    font-size : 14px;
  }
}

body {
  background : $body_bg;
  padding : 1rem;
}