$body_text    : $soot;
$sub_text     : $ash;
$headline     : $soot;
$body_bg      : $chalk;
$secret_bg    : $coral;

$link         : $storm;
$link_other   : $storm;



$spot_disc    : $coral;
$spot_icon    : $yellow;

$code_bg      : $ash;
$code_text    : $yellow;

$footer_bg    : $soot;
$footer_text  : $chalk;

$logo_bg      : $yellow;
$logo_shadow  : $soot;
