.linked-content {
  display: block;
  clear: both;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom:1rem;
  p {
    font-family: $headingFontFamily;
    font-size: 1.1rem;
    line-height: 1.3;
  }

  .thumbnail {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-around;
      min-width: 5rem;
      min-height: 5rem;
      background: linear-gradient(45deg, #cdcdcd 25%, #fefefe 75%, #fff 100%);
      vertical-align: middle;
    }
  }

  .link-title {
    a {
      text-decoration: none;
    }
    font-size:1.4rem;
    line-height:2rem;
    font-family: $headingFontFamily;
  }

  &.summary {
    display:flex;
    & > div {
    }
    .thumbnail-image {
      display: inline-block;
      img {
        max-width:10rem;
        display: inline-block;
        vertical-align: middle;

      }
    }
    .description {
      padding: 1rem;
      display:flex;
      flex-direction: column;
      justify-content: center;
      & > * {
        padding:0;
        margin:0;
      }
    }
  }


  &.summary-large {
    img {
      width:100%;
    }
    figure {
      text-align: left;
      padding:0;
      margin:0;
      a {
      }
    }
    figcaption {
      padding:0 0.5rem 1rem 1rem;
      font-size: 1.4rem;
      line-height: 2rem;
      font-family: $headingFontFamily;
      font-weight: bold;
    }
  }
}