
.logo {
  font-weight: bold;
  text-align:left;
  font-size:2.2rem;
  abbr {
    text-decoration: none;
    margin-left:1rem;
  }
}


.logo > abbr > span {
  transform: rotate(3deg);
  display: inline-block;
  position: relative;

  &:nth-child(2) {
    transform: rotate(-3deg);
  }
}