
.logo {
  abbr {
    text-decoration: none;
  }
  &.large {
    padding-top:1rem;
  }
}


.logo > abbr > span {
  transform: rotate(3deg);
  display: inline-block;
  position: relative;

  &:nth-child(2) {
    transform: rotate(-3deg);
  }
}