@function stickyback($color) {
  @return linear-gradient(135deg, $color 81%,$color 82%,$color 82%,mix(white, $color, 50%) 100%);
}
@function ground($color) {
  @return linear-gradient(0deg, $color 81%, $color 82%,$color 82%, white, 100%);
}
.stickyback {
  display: inline-block;
  //position: relative;
  transform: rotate(0deg);
  background: linear-gradient(0deg, #ffffff00 50%, $logo_bg 51% ,$logo_bg 100%);


}

.sticky {
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  line-height:1.1em;
  margin: 0;
  padding-top: 0;
  padding-right: 0.02em;
  position: relative;
  border: 1px solid #ccc;
  border-top: 0.1em solid $logo_bg;
  font-family: $superHeadingFontFamily;
  font-size: 5em;
  border-bottom-right-radius: 0.3em 0.05em;
  display: inline-block;
  background:$logo_bg; /* Old browsers */
  background: stickyback($logo_bg); /* W3C */


  &::after {
    content: "";
    position:absolute;
    z-index: -1;
    right:0;
    bottom:0.14em;
    width:0.4em;
    height: 0.2em;
    background: red;
    box-shadow:0.02em 0.15em 0.05em rgba(0, 0, 0, 0.40);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
  }

  &.blue {
    border-top: 0.1em solid $lilac;
    background:$lilac; /* Old browsers */
    background: stickyback($lilac); /* W3C */
  }
  &.green {
    border-top: 0.1em solid $mould;
    background:$mould; /* Old browsers */
    background: stickyback($mould); /* W3C */
  }

  &.pink {
    border-top: 0.1em solid $coral;
    background:$coral; /* Old browsers */
    background: stickyback($coral); /* W3C */
  }

}

a .sticky {
  font-style: normal;
  color: $soot;
}