

<p>For example, we helped John Lewis & Waitrose set up a food box delivery service, similar to Hello Fresh. We set up a software team, helped organise a completely new logistics service, and worked with suppliers to develop new packaging solutions for small servings.</p>

<p>Another example was a recent 'discovery' piece of work, to help an international manufacturer based in Cambridge spot gaps in their internal data handling for R&D. We highlighted a number of areas where their processes could be improved and are currently working with them to create a 'shared services platform' across all their R&D teams.</p>

<p>
    Read about our work helping <a href="/case-studies/elephant-healthcare/">Elephant Healthcare deliver vital services in Kenya</a>, during Covid
</p>