{{ $src := .Get 0 }}
{{ $text := .Get 1 }}
{{ $data := dict }}
{{ $body := printf `{"url" : "%s"}` $src}}
{{ $opts := dict
    "method" "post"
    "body" $body
    "headers" (dict  "Content-Type" "application/json")
  }}
{{ with resources.GetRemote "http://localhost:3000" $opts }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $src }}
{{ end }}

{{ if $data }}
{{ $u := urls.Parse $src }}
<div class="link-preview">
        <a href="{{ $src | safeURL }}" target="_blank">
          {{ if $data.image }}
          <picture style="background-image: url('{{ $data.image.src }}');">
            <img src="{{ $data.image.src | safeURL }}" />
          </picture>
          {{ end }}
          <strong>{{ $data.title }}</strong>
          <p>{{ $data.description | safeHTML }}</p>
          <p>
            <span class="link-text">{{ $text | safeHTML }}</span><span class="hostname-text">{{ $u.Hostname }}</span>
          </p>
        </a>
</div>














{{ else }}
<pre>
    BORK!
</pre>
{{ end }}