{{ $displayDate := .Store.Get "DisplayDate" }}


<div class="content-meta">


        {{ if $displayDate }}
            <p>
                <a href="{{ .RelPermalink }}">
                    
                    <time class="dt-published" datetime="{{ .Date }}">
                        {{ .Date.Format "2" | humanize }} {{ .Date.Format "January, 2006"}}</time>
                </a>
            </p>
        {{ end }}

{{/*  Always include the tags  */}}
{{ with .GetTerms "tags" }}
<ul class="taglist">
    {{ range .}}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
</ul>
{{ end }}

</div>
