<nav aria-label="Breadcrumb">
    <ol  class="breadcrumb">
        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </ol>
</nav>
{{ define "breadcrumbnav" }}
    {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
    {{ else if not .p1.IsHome }}
       {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
    {{ end }}
    <li{{ if eq .p1 .p2 }} class="active"{{ end }}>
        <a{{ if eq .p1 .p2 }} aria-current="page"{{ end }} href="{{ .p1.Permalink }}">
            {{ if not .p1.IsHome}}
                {{ .p1.Title }}
            {{ else }}

                <span class="stickyback" style="transform: rotate(-3deg);">
                        <span class="sticky pico">L</span>
                    </span>
                <span class="stickyback" style="transform: rotate(3deg);">
                        <span class="sticky pico">R</span>
                    </span>
                <span class="stickyback" style="transform: rotate(-3deg);">
                        <span class="sticky pico">G</span>
                    </span>
            {{ end }}
        </a>
    </li>
{{ end }}
