<head>
    <meta charset="UTF-8">
    <title>{{if .IsHome }}{{ .Site.Title }} {{ else }}{{.Title}} - {{ .Site.Title }}{{ end }}</title>
    <link rel="pgpkey" href="/assets/key.pub">
    <meta name="author" content="{{ .Site.Params.AuthorName }}">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
</head>