
<script type="application/ld+json">

			{ "@context": "http://schema.org",
			{{ if .IsHome }}
			"@type": "WebSite",
			{{ else }}
			"@type": "Article",
			{{ end }}

				 "mainEntityOfPage": {
				    "@type": "WebPage",
				    "@id": "{{ .Permalink }}"
				 },
			 "headline": "{{ .Title }}",
			 {{ with .Params.subtitle }}"alternativeHeadline": "{{ . }}",{{ end }}
			 "image": "{{ if .IsHome }}{{ .Site.BaseURL}}images/logo.png{{ else }}{{ with .Params.featured_image }}{{ . | absURL }} {{ else }}{{ with .Params.story_featured_image }}{{ . | absURL }} {{else}}{{ with .Params.images }}{{ range first 1 . }}{{ . | absURL }}{{ end }}{{ else }}{{ .Site.BaseURL }}images/fractal_thumb.png{{ end }}{{ end }}{{ end }}{{ end }}",
			 "author": {
			   "@type": "Person",
			   "name": "CHANGETHISPLEASE"
			 },			 {{ with .Params.tags }}"keywords": "{{ range first 6 . }}{{ . }}{{ end }}",{{ end }}
			 "wordcount": "{{ .WordCount }}",
			 "publisher": {
			  "@type": "Organization",
			  "name": "{{.Site.Author.name}}",
			  "logo": {
			    "@type": "ImageObject",
			    "url": "/images/lrg_logo@60h.png",
			    "height": 60
			  }
			},
			 "url": "{{ .Site.BaseURL }}",
			 "datePublished": "{{ if not .Date.IsZero }}{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}{{ end }}",
			 "dateCreated": "{{ if not .Date.IsZero }}{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}{{ end }}",
			 "dateModified": "{{ if not .Date.IsZero }}{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}{{ end }}",
			 "description": "{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}",
			 "articleBody": "{{ .Plain  }}"
			 }

			</script>