{{ define "title" }}
    {{ .Params.title }} - {{ .Site.Title}}
{{ end }}

{{ define "main" }}
    {{ if .Content }}

        {{ .Content }}



    {{ end }}
{{ end }}

{{ define "aside"}}

    {{ with .Site.RegularPages.Related . | first 5 }}
        <ul role="list" class="related">
        {{ range . }}

        {{ if (compare.Eq .Params.style "tweet")}}
                {{ partial "list/tweet-item.html" .}}
            {{ else }}            
                {{ partial "list/list-item.html" .}}
            {{ end }}
        {{ end }}
        </ul>


    
    {{ end }}
{{ end }}