.workspace-split.mod-root {
    .view-content {
        background: hsl(47, 28%, 83%);
        .inline-title {
            padding-bottom:0.6em;
            border-bottom: 1px solid #222;
            &::before {
                content: 'LRG ';
                color: white;
                margin-right:0.6em;
            }
        }
    }
}