{{ define "header" }}
    {{ partial "header.html" .}}
{{ end }}

{{ define "main" }}

{{ $alt := .Params.mainImage.alt }}

<h1>{{ .Title }}</h1>

{{ with .Params.mainImage.src}}
    <picture class="main-image">
        {{ $header := ($.Site.GetPage "section" "images").Resources.GetMatch (strings.TrimPrefix "/images/" . ) }}
        {{ $img1x := $header.Resize "630x"}}
        {{ $img2x := $header.Resize "945x"}}

        <!-- Make sure breakpoints here are same as mixins.scss -->
        <source srcset="{{ $img1x.RelPermalink }}" media="(max-width: 767px)">
        <!-- Shows inline -->
        <source srcset="{{ $img2x.RelPermalink }}" media="(min-width: 768px)">
        <img src="{{ $img2x.RelPermalink }}"  alt="{{ $alt }}"/>
    </picture>
{{ end }}



    {{ .Content }}

    <div class="spotify-player">
        <iframe src="https://open.spotify.com/embed/{{ .Params.spotifyLink}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>

{{ end }}

{{ define "footer" }}
    {{ partial "footer.html" .}}
{{ end }}