{{ define "main"}}

<ul class="articles">
    {{ range first 10 .Site.RegularPages }}
        {{ partial "list_item.html" .}}
    {{ end }}




<!--    {{ with .Site.GetPage  }}-->
<!--        &lt;!&ndash;  range first 20 (where .Pages "Section" "!=" "playlists") }}&ndash;&gt;-->
<!--        {{ range first 50 .Pages }}-->
<!--            {{ partial "list_item.html" .}}-->

<!--        {{ end }}-->
<!--    {{ end }}-->
</ul>

{{ end }}

{{ define "header" }}
    {{ partial "header.html" .}}
{{ end }}

{{ define "aside"}}
    {{ .Content }}
    {{ partial "sidebar_profile.html" .}}

{{ end}}

{{ define "footer" }}
   {{ partial "footer.html" .}}
{{ end }}