{{ $style := .Params.style }}

    {{ $draftClass := "" }}
    {{ if .Draft }}
        {{ $draftClass = "drafty"}}
        {{ end }}

<li class="book-cover item-{{ .Kind }} {{ $style}} {{ $draftClass }}">
    {{ partial "list/cover-image.html" .}}
    <h3 class="title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div class="subtitle">
        {{ if (.Params.Subtitle) }}
        <span>{{ .Params.Subtitle }}</span>
        {{ end }}
    </div>
    <div class="author">{{ if (.Params.Author) }}<span>{{ .Params.Author }}</span>{{ end }}</div>
    <div class="subheading">
        {{ if (.Params.Subheading) }}
        <span>{{ .Params.Subheading }}</span>
        {{ end }}
    </div>
    {{ if .Params.tags }}
    <div class="tags">
        {{ range .Params.tags }}
             <span>{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
</li>