<div class="cover-image">

    {{- $src:= 0 -}}
    {{- $altText:= "" -}}

    {{- if .Params.images -}}
        {{- $src = (index .Params.images 0) -}}
    {{- end -}}

    {{- if .Params.thumb -}}
        {{- $src =  .Params.thumb -}}
    {{- end -}}

    {{- if .Params.cover.alt -}}
        {{- $altText = .Params.cover.alt -}}
    {{- end -}}

    {{- $pathArr := split $src "." -}}
    {{- $pathLen := len $pathArr -}}
    {{- $ext := index $pathArr (sub $pathLen 1) -}}

    {{- if ne $src 0 -}}

    <picture>
        {{- if eq $ext "svg" -}}
            <img src="{{- $src -}}" alt="{{- $altText -}}"/>
        {{- else -}}


        {{- $img := resources.GetMatch (strings.TrimPrefix "/" $src) -}}
            {{- with $img -}}
                {{- $img600w := .Resize "600x" -}}
                {{- $img300w := .Resize "298x" -}}

                <img src="{{- $img300w.RelPermalink -}}" alt="{{- $altText -}}" width="298px" height="auto"/>
            {{- end -}}
            {{- end -}}
    </picture>
    {{- else -}}
    <!-- No thumbnail? -->
     <div class="background"></div>
    {{- end -}}

</div>

