{{ define "header" }}
    {{ partial "header.html" .}}
{{ end }}

{{ define "main" }}
    {{ .Content }}
    <ul class="articles ">
        {{ range .Pages }}
            {{ partial "article_list_item.html" .}}

        {{ end }}
    </ul>
{{ end }}


{{ define "aside"}}

<h2>Strange side bar</h2>
<ul>
    <li>SOme item</li>
    <li>SOme item</li>
    <li>SOme item</li>
    <li>SOme item</li>
    <li>SOme item</li>
    <li>SOme item</li>

</ul>
{{ end }}

{{ define "footer" }}
    {{ partial "footer.html" .}}
{{ end }}