{{ $style := .Params.style }}

    {{ $draftClass := "" }}
    {{ if .Draft }}
        {{ $draftClass = "drafty"}}
        {{ end }}

<li class="list-item item-{{ .Kind }} {{ $style}} {{ $draftClass }}">

    <h2 class="title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>




    {{ partial "list/cover-image.html" .}}
    <div class="subtitle">
        {{ if (.Params.Subtitle) }}
        <span>{{ .Params.Subtitle }}</span>
        {{ end }}
    </div>
    <div class="subheading">
        {{ if (.Params.Subheading) }}
        <span>{{ .Params.Subheading }}</span>
        {{ end }}
    </div>
    <div class="author">{{ if (.Params.Author) }}<span>{{ .Params.Author }}</span>{{ end }}</div>



</li>