{{ $style := .Params.style }}

<li class="item-{{ .Kind }} postcard">

    {{ if .Params.images }}
        <div class="main-image">
            {{ partial "list/tweet-image.html" .}}
        </div>
    {{ end }}
    <div class="the-contents">

    {{ if (.Params.description) }}
        <div class="description">{{ .Params.description }}</div>
    {{ end }}

    <div class="postmark">
        POSTMARK
    </div>
    
    <div class="subtitle">
        {{ if (.Params.Subtitle) }}
        <span>{{ .Params.Subtitle }}</span>
        {{ end }}
    </div>
    <div class="subheading">
        {{ if (.Params.Subheading) }}
        <span>{{ .Params.Subheading }}</span>
        {{ end }}
    </div>
    <div class="author">{{ if (.Params.Author) }}<span>{{ .Params.Author }}</span>{{ end }}</div>

</div>

</li>