/* Page layout */
html {
    font-size: 14px;
    /* declares a base font-size, can use this for sizing relatively, by using rem for everything... */
}

body {
    /* kill those default margins & padding */
    padding: 0;
    margin: 0;
    font-family: var(--font-serif);
    font-weight: 500;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-primary);
    color: var(--fg-primary);
}


/* This is cribbed from https://every-layout.dev/layouts/sidebar/ - no need for media queries! */
#content {
    flex: auto;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    gap: var(--main-center-gutter);
    // max-width: calc(50 * var(--readable-line-width));

    // display: grid;
    // grid-template-columns: var(--readable-line-width) 1fr;
    // grid-template-rows: 1fr;
    // grid-column-gap: var(--main-center-gutter);
    // grid-row-gap: 10px;
}

#content> main {
    flex:3 0 var(--readable-line-width);
    max-width: var(--readable-line-width);
    // grid-area: 1 / 1 / 2 / 3;
}
#content> aside {
    // flex-basis: var(--readable-line-width);
    // flex-grow: 1;

    // grid-area: 1 / 2 / 2 / 3;
    font-size: clamp(0.6rem, 0.6vw, 0.9rem);
    flex:3 3 auto; 
}

@media (max-width: 100rem) {

   #content> aside {
        font-size:0.7rem;
   } 
}


@media (max-width: 85rem) {
    #content {
        flex-direction: column;
    }
    #content> aside {
        font-size: clamp(0.7rem, 1vw, 0.9rem);
    }
}

@media (max-width: 32rem) {
    :root {
        font-size:12px;
        
    }
    #content> aside {
        font-size: 3vw;
    }
}

/* Colours */
body {
    color: var(--fg-primary);
}


/* Margins & paddings */

footer,
#content,
nav,
header .heading,
header .subheading {
    padding: 0 var(--edge-margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    padding: 0.4em 0;
    font-family: var(--font-sans-serif);
}

hr {
    border: none;
    border-top: 1px solid var(--bg-primary);
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

main {
    margin-bottom: 2rem;
    max-width: var(--readable-line-width);
    container: main / inline-size;
    padding-top: 2rem;

    h1:first-child {
        padding-top: 0;
    }

    .notes>li, 
    .terms>li,
    .items>li {
        padding: 2rem 0;
        border-bottom: 1px solid var(--border-subtle);
        margin-bottom: 2rem;
        &:last-child {
            border:none;
        }
    }
}

aside {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header .subheading,
footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header.drafty {
    &::after {
        position: absolute;
        content: "DRAFT!";
        left: -1em;
        top: 5rem;
        font-size: 5em;
        color: #99000099;
        background: #99000033;
        display: inline-block;
        width: 140vw;
        z-index: -1;
        transform: rotate(20deg);
        text-align: center;
    }
}


main p {
    margin-bottom: 1rem;
}

body {

    p,
    li,
    em,
    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    figcaption,
    time,
    a {

        &::selection {
            background: var(--fg-primary);
            color: var(--bg-primary);
        }
    }

    a {
        color: var(--link-highlight);

        &:visited {
            color: var(--link-visited);
        }

        &:active {
            color: var(--link-active);
        }

        &:hover {
            color: var(--link-hover);
        }
    }
}


main blockquote,
aside blockquote {
    padding: 0 1em;
    font-style: italic;
    font-size: 110%;
}

[role='list'] {
    padding: 0;
    margin: 0;
}




@media print {

    @page {
        size: 21cm 29.7cm; // A5!
        margin: 0;
    }

    html {
        font-size: 9px;
    }

    nav {
        display: none;
    }

    main {
        margin: 1cm 2cm;
    }

    aside {
        page-break-before: always;
    }

    footer {
        display: none;
    }
}