ul.posts {
    li.post {
        border-bottom:1px solid #000;
        .content-meta {
            font-size: 70%;
            a {
                text-decoration: none;
                border-bottom:1px solid  var(--fg-primary);
            }
        }
    }
}

main {
    .post {
        margin-top:1em;
    }
}

.post {
    .post-links {
        list-style: none;
        padding: 0;
        li {
            list-style: none;
            max-width: var(--readable-line-width);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .content-meta {
        font-size:80%;
    }
}
.post + summary {

    details {

    }
}

.pagination {
    padding:0;
    display:flex;
    justify-content: center;
    gap:0.5rem;
    .page-item {
        list-style:none;
        min-width: 2rem;
        text-align:center;
        &.active {
            background:var(--bg-primary);
            color:var(--fg-primary);
        }
    }

}