.pagination {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .page-item {
        list-style: none;
        min-width: 2rem;
        text-align: center;

        &.active {
            background: var(--bg-primary);
            color: var(--fg-primary);
        }
    }

}

main>.items>li {
    position: relative;

    &::after {
        content: "Read more..."
    }

    &:hover {

        &::after {
            content: "Read more...";
            text-decoration: underline;
        }
    }

    a.ghost-link {
        position: absolute;
        top: 9rem;
        bottom: 0;
        left: 0;
        right: 0;
        text-decoration: none;
    }
}