ul.posts {
    li.post {
        border-bottom:1px solid #000;
        .content-meta {
            a {
                text-decoration: none;
                border-bottom:1px solid  var(--lrg-primary-50);
            }
        }
    }
}

main {
    .post {
        margin-top:1em;
    }
}

.post {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        list-style: none;

    }
}

.pagination {
    padding:0;
    display:flex;
    gap: 1em;
    .page-item {
        list-style:none;
        min-width: 2rem;
        text-align:center;
        &.active {
            background:var(--lrg-text-black);
            color:var(--lrg-primary-100);
        }
    }

}