pre code {
    color: var(--code-text);
    background-color: var(--code-back);
    display: block;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    padding: 0 0.3em;
    font-size: 0.62em;
    outline: 1rem solid var(--code-back);
    line-height: 1.6;
    &::selection {
      background: var(--code-text);
      color: var(--code-back);
    }
  }

code {
  background:rgba(0,0,0,0.2);
  font-size: 1.2rem;
  line-height: 1em;
}

.inline-app {
  font-size: 0.9em;
  display:flex;
  flex-direction: column;

  input, textarea, label, select, output {
    max-width: var(--readable-line-width);
  }
  textarea {
    resize:none;
  }
  input[type='number'] {
    width:6rem;
  }
  
}

.c64 {
  background:blue;
  color:cyan;
  filter: glow(10%);
  outline:1rem solid blue;
  margin:2rem 0;
  font-family: 'Courier New', Courier, monospace;
  &::before {
    content: "(CC) LRG Microsystems ";
    color: white;
    font-weight: bold;
  }


  input, textarea, label, select, output {
    &:focus {
      outline:white 0.4rem solid;
      background:white;
      color:black;
    }
    margin:0.4rem;
  }
  input, textarea, select {
    background:cyan;
    color: blue;
    border:none;
    &::selection {
      background:yellow;
      color:black;
    }
  }
  select {
    outline:cyan 0.4rem solid;
  }
  output {
    &.main-output {

      color:white;
      min-height:1.2em;
      font-weight:bold;
      padding:0 0.5rem
    }
    &.labelish {
      text-align: right;
    }
    &.success {
      outline:lime 0.4rem solid;
    }
    &.failure {
      outline:red 0.4rem solid;
    }
  }
}



.formica {
  background: white;
  padding:1rem;
  & > span {
    padding:1rem 0;
  }

  input, textarea, label, select, output {
    margin:0.4rem;
  }
  font-family: 'Courier New', Courier, monospace;
  label, output {
    font-family: Arial, Helvetica, sans-serif; 
  }

  input, textarea, select {
    border:none;
    border-left:2px solid white;
    padding-left:0.4rem;
    &:focus {
      outline:rgba(255, 191, 191, 0.5) 0.4rem solid;
      border-left-color: red;

    }
    border-bottom: 2px dashed black;
    &::selection {
      background:yellow;
      color:black;
    }
  }
  select {
    height:3rem;
  }

}


@media (max-width: 30em) {
    .formica {
      padding: 1rem 0.4rem;

      & > span.loosey-goosey
      {
        padding:0.6rem 0;
        display:flex;
        flex-direction: column;

        input, textarea, label, select, output {
          max-width: var(--readable-line-width);
        }
      }
      blockquote, blockquote output {
        padding:1rem 0.4rem;
      }
    }

}