
main .content-meta {
    color: var(--bg-primary);
    text-align: right;
    margin-bottom:2rem;

    display:flex;
    justify-content: space-between;    
    time {
        color: var(--fg-primary);
    }
    a {
            text-decoration: none;
            border-bottom:1px solid  var(--fg-primary);
        }
    
}