.related {
    li.list-item.layout-vintage {

        --official-background: linear-gradient(90deg, rgba(0, 0, 0, 0) 22%, var(--theme-empty-bg) 23%, var(--theme-empty-bg) 76%, rgba(0, 0, 0, 0) 77%),
            radial-gradient(circle farthest-corner at center center, var(--theme-main-prime) 0%, var(--theme-main-fade) 90%);



        &.item-section {
            background: var(--official-background),
                url("data:image/svg+xml,%3Csvg viewBox='0 0 215 215' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.53' numOctaves='8' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");


            &::before {
                background: var(--official-background);
            }
        }

        &.item-page {
            background: var(--official-background),
                url("data:image/svg+xml,%3Csvg viewBox='0 0 215 215' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.53' numOctaves='8' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");



        }
        color: var(--theme-default-text);

        .title {
            grid-column: pic-small-left / span pic-small-right;
            grid-row: bar-2 / span pic-small-start;
            font-size: 1.4rem;
            letter-spacing: 0.3em;
            background: none;
            display: flex;
            justify-content: center;

            // padding: 0;

            a {
                border: none;
                padding: 0;
                margin: 0;
                color: inherit;
                border: none;
                align-self: start;
            }
        }

        .subtitle {
            grid-column: pic-small-left / span pic-small-right;
            grid-row: pic-small-end / span bottom;
            padding: 0;
            justify-content: center;
            background: none;
            display: flex;
            flex-direction: row;
            justify-content: center;

            span {
                flex: 0 1 auto;
                // font-size: 1.1rem;
                padding: 0;
                margin: 0;
                line-height: 1.3rem;
                text-align: center;
                align-self: center;
                // text-wrap: balance;
            }
        }

        .author {
            display: none;
        }

        .subheading {
            grid-column: left / span right;
            grid-row: top / span bar-1;
            font-size: 1rem;
            text-align: center;
            height: 4rem;
            border-bottom-style: solid;
            border-bottom-width: 0.3rem;
            border-bottom-color: var(--theme-default-text);


            span {
                grid-column: pic-small-left / span pic-small-right;
                grid-row: top / span bar-1;
                line-height: 4rem;
                color: var(--theme-spot-contrast);
                text-transform: uppercase;
            }
        }

        .cover-image {
            background: none;
            grid-column: pic-small-left / span pic-small-right;
            grid-row: pic-small-start / span pic-small-end;
            display: flex;
            padding: 0rem;

            picture {
                align-self: center;
                padding: 0;
                width: 100%;
                height: 100%;

                align-content: center;

                display: flex;


                img {
                    filter: contrast(1) sepia(1) saturate(0);

                    height: auto;
                    margin: 0;

                    width: 100%;
                }

                img[src$='.svg'],
                img[src$='.png'] {
                    mix-blend-mode: multiply;
                    width: auto;
                    max-height: 100%;
                    width: 100%;
                    outline: none;
                }
            }
        }

    }
}