.related {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;


    // --book-page-shadow: 4px 1px 2px 0px #e9ddc9, 3px 4px 9px 0px #222C, inset 0px 0px 4px 0px #2226;
    // --book-page-shadow: 4px 1px 2px 0px var(--theme-empty-bg), 3px 4px 9px 0px var(--color-shadow-99), inset 0px 0px 4px 0px #2226;
}

.book-cover {

    --official-background: linear-gradient(0deg, transparent 0%, transparent 18%, var(--theme-empty-bg) 18%, var(--theme-empty-bg) 60%, transparent 60%, transparent 100%),
        radial-gradient(circle farthest-corner at center center, var(--theme-main-prime) 0%, var(--theme-main-fade) 90%);


    color: var(--theme-default-text);
    position: relative;


    &.item-section,
    &.item-page {

        width: var(--cover-w);
        height: var(--cover-h);

        border-radius: 0.1em 0.4em 0.4em 0.1em;
        box-shadow: var(--book-page-shadow);

        display: grid;
        // define grid shape
        grid-template-columns: [left] 3.5em [pic-small-left] 3.5em [middle-start] 3.75em [middle] 3.75em [middle-end] 3.5em [pic-small-right] 3.5em [right];
        grid-template-rows: [top] 2em [bar-1] 4.5em [bar-2] 3em [pic-large-start] 3.5em [pic-small-start] 7.25em [pic-center] 0.75em [pic-top-offset] 6.5em [pic-small-end] 3.5em [pic-large-end] 2em [bottom];


    }

    // Little fixy fix here to make the clickable area of the
    // link from the title expand to cover the whole cover.


    .title a::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    &.item-section {
        background: var(--official-background),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 215 215' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.53' numOctaves='8' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");


        &::before {
            content: "";
            position: absolute;
            width: var(--cover-w);
            height: var(--cover-h);
            display: block;
            transform: matrix(1.00, -0.07, 0.07, 1.00, 3, 7);
            z-index: -10;
            border-radius: 0.4em;
            box-shadow: var(--book-page-shadow);

            background: var(--official-background);
        }

        &:nth-child(even) {
            &::before {
                transform: matrix(1.00, 0.03, -0.03, 1.00, 3, 7);
            }
        }
    }

    &.item-page {
        background: var(--official-background),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 215 215' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.53' numOctaves='8' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

    }



    .title {
        // background: var(--panel-inset-edge-gradient), var(--color-bone);

        text-wrap: balance;

        a {
            text-decoration: none;
            color: inherit;
            border-bottom-color: var(--fg-literature);
        }
    }

    &.item-section,
    &.item-page {
        .title {
            grid-column: left / span right;
            grid-row: pic-small-start / span pic-center;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-size: 1.8em;
            align-self: end;
            padding: 0;

            a {
                align-self: flex-end;
                padding: 1em 0;
                margin: 0 1em;
                border-bottom: 0.20em solid var(--theme-spot-highlight);
                text-align: center;
            }

        }

        .subtitle {
            grid-column: left / span right;
            grid-row: pic-center / span pic-small-end;
            display: flex;
            justify-content: center;

            span {
                align-self: flex-start;
                padding: 1em;
                font-size: 1.4em;
                text-align: center;
            }
        }

        .author {
            grid-column: left / span right;
            grid-row: bar-2 / span pic-large-start;
            display: flex;
            justify-content: center;
        }

        .author:empty {
            background: var(--theme-logo-src) no-repeat center center;
        }

        .subheading {
            grid-column: pic-small-left / span pic-small-right;
            grid-row: pic-small-end / span pic-large-end;
            font-size: 1em;
            text-align: center;

            span {
                line-height: 4em;
            }
        }

        .cover-image {
            display: none;

            picture {

                // display:flex;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;

                img {
                    object-fit: cover;
                    margin: 0;
                    min-width: 100%;
                    min-height: 100%;
                }

                img[src$='.svg'] {
                    object-fit: contain;
                    padding: 0.3em;
                    width: auto;
                    max-height: 100%;
                    width: 100%;
                }
            }
        }

        .tags {
            display: none;
        }
    }

    &.drafty {

        &::after {
            position: relative;
            content: "DRAFT!";
            left: 2em;
            top: 0em;
            font-size: 3em;
            color: #99000099;

            display: block;
            transform: rotate(20deg);
            text-align: center;
        }
    }
}