.related {

    // inherits cover-layout
    li.list-item.layout-classic {

        --official-background: linear-gradient(0deg, transparent 0%, transparent 18%, var(--theme-empty-bg) 18%, var(--theme-empty-bg) 60%, transparent 60%, transparent 100%),
        radial-gradient(circle farthest-corner at center center, var(--theme-main-prime) 0%, var(--theme-main-fade) 90%);

        &.item-section {
            background: var(--official-background),
                url("data:image/svg+xml,%3Csvg viewBox='0 0 215 215' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.53' numOctaves='8' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

            &::before {
                background: var(--official-background);
            }
        }

        &.item-page {
            background: var(--official-background),
                url("data:image/svg+xml,%3Csvg viewBox='0 0 215 215' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.53' numOctaves='8' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        }
        color: var(--theme-default-text);

        .title {
            grid-column: middle-start / span right;
            grid-row: bar-1 / span bar-2;
            font-size: 1.8rem;
            align-self: end;
            background: none;
            display:flex;
            justify-content: start;

            padding: 0;
            
            a {
                border:none;
                padding:0;
                margin:0;
                text-align: left;
                color: inherit;
                border-bottom-color: var(--theme-spot-highlight);
            }
        }

        .subtitle {
            grid-column: middle-start / span right;
            grid-row: bar-2 / span pic-large-start;
            padding: 0;
            justify-content: left;
            background:none;
            span {
                font-size: 1.1rem;
                padding:0 0.6rem 0 0;
                margin:0;
                line-height: 1.3rem;
                text-align: left;
                text-wrap:balance;
            }
        }
        .author {
            display:none;
        }

        .subheading {
            grid-column:pic-small-left / span pic-small-right;
            grid-row: pic-large-end / span bottom;
            font-size: 1rem;
            text-align: center;

            span {
                line-height: 2rem;
            }
        }

        .cover-image {
            background: var(--panel-inset-edge-gradient), var(--theme-empty-bg);
            grid-column: left / span right;
            grid-row: pic-large-start / span pic-large-end;
            display: flex;
            padding: 0rem;
            overflow: hidden;

            picture {
                align-self: center;
                padding: 0 ;
                width: 100%;
                height: 100%;
                overflow: hidden;
                align-content: center;

                // display:flex;
                img {
                    filter: var(--img-desaturate-image);
                    height: auto;
                    margin: 0;

                    width: 100%;
                }

                img[src$='.svg'] {
                    width: auto;
                    max-height: 100%;
                    width: 100%;
                }
            }
        }

    }
}