header .heading, header .heading a {
    color: var(--logotype-fg);
    text-decoration: none;
}
header .subheading {
    /* Doing nothing here */
}

header .heading {
    border-bottom: 1px solid var(--border-subtle)
}

header .subheading {
    border-bottom: 3px solid var(--border-bold);
}