.link-preview {
    display:flex;
    flex-direction: row;
    padding:1rem;
    background:white;
    border-radius: 0.3rem;
    text-decoration: none;
    font-size:1.2rem;
    font-family: var(--font-sans-serif);
    position: relative;
    margin-bottom:1rem;
    picture {
        align-items: center;
        width:24rem;
        height:12rem;
        padding:0;
        overflow:hidden;
        display: flex;
        justify-content: center;
        flex:1 1 auto;
        background-size: cover;
        img {
            object-fit: cover;   
            min-width: 100%;
            min-height: 100%;
        }
    }
    .preview-text {
        flex:1 2 auto;
        margin-left:0;
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        a::before {
            content:'';
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }
    picture + .preview-text {
        margin-left:1rem;
    }
}