
.shape-left,
.shape-right {
  shape-margin: 1rem;
  max-width :40%;
  width:auto;
  height:auto;
}

.shape-left {
  float: left;
  margin: 0 1rem 1rem 0;
}
.shape-right {
  float: right;
  margin: 0 0 1rem 1rem;
}

@container main (max-width: 30rem) {
    .shape-left, 
    .shape-right {
        float:none;
        margin:1em auto;
    }
}