/* Variables */

:root {
    --lrg-text-black: hsl(0 0% 10%); /* 90% tint as per lrg guidelines */
    --lrg-text-white: hsl(0, 10%, 97%);
    --lrg-primary-100: hsl(47, 30%, 77%, 1);
    --lrg-primary-50: hsl(0, 6%, 40%);
    --img-filter: saturate(0) sepia(30%) brightness(70%) opacity(90%) contrast(150%);
    --img-cover-print-filter: saturate(70%) sepia(0) brightness(90%) opacity(90%) contrast(90%);


    --code-text: hsl(55, 28%, 54%);
    --code-back:rgb(16, 16, 13);
    --code-outline:#e6e6e6;

    --underscore-dark: #bbb;

    --edge-margin:3vw;
    --main-center-gutter: 4rem;
    --readable-line-width: 50rem;
    --shortish-line-width: 30rem;

    --link-list-gutter: 4rem;

    --font-title: 'Lexend', sans-serif;
    --font-body: 'EB Garamond', serif;
}



@import "./_normalize.scss";
@import "./_layout.scss";
@import "./page-header.scss";
@import "./breadcrumbs.scss";
@import "./page-footer.scss";
@import "./content-header.scss";
@import "./content-meta.scss";
@import "./pictures.scss";
@import "./code-format.scss";
@import "./posts.scss";
@import "./related-list.scss";
@import "./shortcode-shape.scss";