/* Variables */

:root {
    /* palette */
    --color-black: hsl(0 0% 10%);
    --color-char: #222;
    --color-white: hsl(0, 0%, 100%);
    --color-bone: #f5f3f0;
    --color-ivory: hsl(16, 37%, 92%);

    --color-buff: hsl(47, 28%, 83%);
    --color-manilla: hsl(56, 33%, 66%);
    --color-greige-lite: hsl(12, 16%, 60%);
    --color-greige-dark: hsl(14, 16%, 26%);

    --color-lipstick-100: hsl(344, 75%, 40%);
    --color-lipstick-80:hsl(344, 70%, 50%);
    --color-lipstick-60:hsl(344, 65%, 60%);
    --color-lipstick-40:hsl(344, 60%, 70%);
    --color-lipstick-20:hsl(344, 55%, 80%);
    --color-lipstick-10:hsl(344, 50%, 95%);

    --color-rgb-red: #FF0000;
    --color-rgb-blue: #0000FF;
    --color-rgb-green: #0F0;
    --color-rgb-cyan: #0ff;
    --color-rgb-magenta: #f0f;
    --color-rgb-yellow: #ff0;


    --color-book-orange-200: hsl(22, 75%, 32%);
    --color-book-orange-100: hsl(22, 67%, 51%);
    --color-book-orange-80: hsl(22, 64%, 62%);

    --color-book-lilac-200: hsl(294, 28%, 37%);
    --color-book-lilac-100: hsl(294, 36%, 58%);
    --color-book-lilac-80: hsl(294, 44%, 75%);

    // misc
    --color-book-lemon-200: hsl(48, 63%, 42%);
    --color-book-lemon-100: hsl(48, 83%, 60%);
    --color-book-lemon-80: hsl(48, 79%, 70%);

    // travel
    --color-book-cerise-200: hsl(338, 58%, 30%);
    --color-book-cerise-100: hsl(338, 58%, 45%);
    --color-book-cerise-80: hsl(338, 58%, 60%);

    --color-book-royal-200: hsl(251, 58%, 42%);
    --color-book-royal-100: hsl(251, 58%, 60%);
    --color-book-royal-80: hsl(251, 58%, 70%);


    --color-grey-lite: #bbb;

    --color-shadow-33: #2223;
    --color-shadow-99: #2229;

    // Inks for handwriting and print
    --color-blood-ink: #69333333; // slightly translucent for that aged ink effect
    --color-biro-blue: #203e98aa;
    --color-biro-black: #1f1f23aa;

    // effects
    --img-filter: saturate(0) sepia(30%) brightness(70%) opacity(90%) contrast(150%);
    --img-desaturate-image: saturate(30%) sepia(0) brightness(90%) opacity(90%) contrast(90%);

}

:root {

    // default is light
    --bg-primary: var(--color-buff);
    --fg-primary: var(--color-greige-dark);

    --code-text: var(--color-manilla);
    --code-inline-bg: var(--color-manilla);
    --code-back: var(--color-char);
    --code-outline: var(--color-white);

    --underscore-dark: var(--color-grey-lite);

    --link-highlight: var(--color-lipstick-100);
    --link-active: var(--color-lipstick-80);
    --link-hover: var(--color-lipstick-60);

    --border-bold: var(--color-char);
    --border-subtle: var(--color-biro-black);


    --postmark-ink: var(--color-blood-ink);
    --cheap-ink: var(--color-biro-blue);

    --font-sans-serif: 'Lexend', sans-serif;
    --font-serif: 'Cormorant Garamond', serif;
    --font-script: 'Caveat', handwriting;

    --logotype-fg: var(--color-white);



    --footer-bg: var(--color-char);
    --footer-fg: var(--color-bone);




    /* COVER STYLES */
    --cover-w: 21.5rem;
    --cover-h: 33rem;


    --bg-literature: radial-gradient(circle farthest-corner at center center, var(--color-book-orange-100) 0%, var(--color-book-orange-80) 90%);
    --fg-literature: var(--color-book-orange-100);
    /* Expirments */
    --bg-experiments: radial-gradient(circle farthest-corner at center center, var(--color-book-lilac-100) 0%, var(--color-book-lilac-80) 90%);
    --fg-experiments: var(--color-book-lilac-80);
    /* Travel */
    --bg-travel: radial-gradient(circle farthest-corner at center center, var(--color-book-lemon-100) 0%, var(--color-book-lemon-80) 90%);
    --fg-travel: var(--color-book-lemon-100);

    /* small fix to stop gradient bleeding through white area on default  (and is used for the pseudo covers on sections */
    --bg-main-panel: linear-gradient(0deg, transparent 0%, transparent 18%, var(--color-bone) 18%, var(--color-bone) 60%, transparent 60%, transparent 100%);
    --panel-inset-edge-gradient: linear-gradient(90deg, var(--color-shadow-33) 0%, transparent 1%, transparent 99%, var(--color-shadow-33) 100%);

    --shitty-test:red;
}

@media (prefers-color-scheme: dark) {
    :root {

        // default is light
        --bg-primary: var(--color-greige-dark);
        --fg-primary: var(--color-ivory);


        --code-text: var(--color-manilla);
        --code-back: var(--color-char);
        --code-outline: var(--color-white);

        --border-bold: var(--color-greige-lite);
        --border-subtle: var(--color-greige-lite);

        --link-highlight: var(--color-lipstick-40);
        --link-active: var(--color-lipstick-20);
        --link-hover: var(--color-lipstick-10);
        --link-visited: rgb(214, 191, 195);


    }
}

@media print {
    :root {
        // default is light
        --bg-primary: white;
        --fg-primary: black;


        --code-text: black;
        --code-back: white;
        --code-outline: black;

        --underscore-dark: black;

        --link-highlight: pink;
        --link-active: red;
        --link-hover: magenta;
        --link-visited: rgb(214, 191, 195);
    }
}

@import "./_normalize.scss";
@import "./_layout.scss";
@import "./render-hook-links.scss";
@import "./page-header.scss";
@import "./breadcrumbs.scss";
@import "./page-footer.scss";
@import "./content-header.scss";
@import "./content-meta.scss";
@import "./pictures.scss";
@import "./code-format.scss";
@import "./posts.scss";
@import "./cover-colour.scss";
@import "./cover-layout.scss";
@import "./cover-layout-classic.scss";
@import "./cover-layout-vintage.scss";
@import "./cover-layout-modern.scss";
@import "./spines.scss";
@import "./postcards.scss";
@import "./shortcode-shape.scss";